---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const bio = `
Welcome to my little webcorner.

I am Yifei, currently a master student at TSE and soon an independent scholar. I work on economics of identity, cultural economics, some economic theory, economic history, and economics of religion. 

Here you will find information about my **research**, **CV**, and **contact** details. I am always open to academic collaboration or conversation.
`;
---

<Layout title="Yifei Luo – Academic Homepage">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10 text-3xl font-semibold">Yifei Luo</h1>
    <Markdown content={bio} class="mb-10 text-lg" />
    <div class="flex gap-4 flex-wrap">
        <a href="/YifeiLuoCV.pdf" class="btn btn-lg sm:min-w-40" target="_blank">Download CV</a>
        <a href="/research" class="btn btn-lg sm:min-w-40">Research</a>
        <a href="mailto:your.email@example.com" class="btn btn-lg sm:min-w-40">Contact</a>
        <a href="https://scholar.google.com/yourprofile" class="btn btn-lg sm:min-w-40" target="_blank">Google Scholar</a>
    </div>
</Layout>
